botorch @ file:///home/conda/feedstock_root/build_artifacts/botorch_1755026962845/work
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
certifi @ file:///home/task_175978570070155/conda-bld/certifi_1759786060979/work/certifi
cffi @ file:///home/task_176009709504386/conda-bld/cffi_1760098027699/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
filelock @ file:///croot/filelock_1744281381737/work
gmpy2 @ file:///croot/gmpy2_1738085463648/work
gpytorch @ file:///home/conda/feedstock_root/build_artifacts/gpytorch_1738527809742/work
idna @ file:///croot/idna_1714398848350/work
jaxtyping @ file:///home/conda/feedstock_root/build_artifacts/jaxtyping_1747196441045/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1756321760188/work
linear_operator @ file:///home/conda/feedstock_root/build_artifacts/linear_operator_1738340008962/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mpmath @ file:///croot/mpmath_1690848262763/work
multipledispatch @ file:///home/conda/feedstock_root/build_artifacts/multipledispatch_1721907546485/work
mypy_extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1745776566517/work
networkx @ file:///croot/networkx_1737039604450/work
numpy @ file:///croot/numpy_and_numpy_base_1725470312869/work/dist/numpy-2.0.1-cp310-cp310-linux_x86_64.whl#sha256=120568f3fd675f59e4cb6de79a5c193b4067d90878d8bab2040fda8e3a2df6fa
opt_einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1733687912731/work
pillow @ file:///croot/pillow_1752524526621/work
pycparser @ file:///home/task_175749556993857/conda-bld/pycparser_1757496041120/work
pyre-extensions @ file:///home/conda/feedstock_root/build_artifacts/pyre-extensions_1734755991108/work
pyro-api @ file:///home/conda/feedstock_root/build_artifacts/pyro-api_1614940619870/work
pyro-ppl @ file:///home/conda/feedstock_root/build_artifacts/pyro-ppl_1734535654352/work
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
requests @ file:///croot/requests_1756709366904/work
scikit-learn @ file:///home/task_175861954415939/conda-bld/scikit-learn_1758619598212/work
scipy @ file:///croot/scipy_1747238027288/work/dist/scipy-1.15.3-cp310-cp310-linux_x86_64.whl#sha256=4055d6b52bbbfc19594ac7c25008889945de175e153afc0935b6415716fa348e
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sympy @ file:///croot/sympy_1756713465822/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
triton==3.1.0
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
typing_inspect @ file:///home/conda/feedstock_root/build_artifacts/typing_inspect_1733845867367/work
urllib3 @ file:///croot/urllib3_1750775463400/work
wadler_lindig @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_wadler-lindig_1752728420/work
